.message.ai {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 12px;
}

.message.ai .bubble {
  background: #d6d7dc;
  color: rgb(234, 230, 238);
  padding: 12px 14px;
  border-radius: 16px;
  max-width: 70%;
  font-size: 14px;
}
