.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #343541;
  color: white;
  border-bottom: 1px solid #555;
}

.menu-btn {
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  margin-right: 15px;
  display: flex;
  align-items: center;
}

@media (min-width: 769px) {
  .navbar {
    display: none;
  }
}
