/* App.css */

.app {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: #0f0f0f;
  overflow: hidden;
}

/* Main content area (right side) */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #181818;
}
